---
import '@fontsource/inter';
import IconGrid from '@/components/IconGrid.vue';
import ControlBar from '@/components/ControlBar.vue';
import Sooner from '@/components/Sooner';
import githubSvg from '/github.svg?raw';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="A web sandbox for the iconsax-vue package." />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/iconsax-vue/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Iconsax Vue</title>
    </head>
    <body>
        <main class="container mx-auto py-4 px-8">
            <a class="absolute right-8 h-7 w-7 sm:h-10 sm:w-10 fill-black hover:scale-110 duration-200" target="_blank" href="https://github.com/placetopay-org/iconsax-vue">
                <Fragment set:html={githubSvg} />
            </a>
            <h1 class="text-2xl text-center">Iconsax <span class="text-[#42b883] font-bold">Vue</span></h1>
            <p class="text-center text-gray-500">A web sandbox for the @placetopay/iconsax-vue package.</p>
            <p class="text-center text-gray-500 mb-8">Version: 0.0.7</p>

            <ControlBar class:list="mb-8 mx-auto" client:only="vue" />
            <Sooner client:only="react" />
            <IconGrid client:only="vue" />
        </main>
    </body>
</html>

<style is:global>
    body {
        font-family: 'Inter', sans-serif;
    }
</style>
